
    body{ background: #ff0;
        background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);}
.spider{
    position: absolute 0 * * 50%; 
    transform:translateX(-50%);
    color: #fff;
    font-weight: bold;
    font-size: 20px;
 }